 
 

 *{
    margin: 0; padding: 0;
    box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
 /* color: red !important; */
 
 }
 .navbar{
  
  /* background-color: rgb(185, 132, 192);
  border-radius: 10px; */
  
    /* border: 2px solid rgb(158, 151, 151); */
 }

 .navbar-brand{
   font-size: 1.5rem !important;


 }
 .navbar a{
   font-size: 1.1rem;
   text-transform: capitalize;
    color:  rgb(124, 84, 39)!important;


 }

 .active{
   font-weight: bold;
   /* border-bottom: 2px solid orange; */
   border-bottom: 2px solid indianred;
   
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;

 }
 .active ::after{
  
 }

 .navbar a:hover{
   color: indianred !important;
  

 }

 @media(max-width:991px){
   .navbar-brand{font-size: 1.5rem !important;}
   .menu_active{font-weight: bold;
      border-bottom: none;
   
   }

 }


